.commons-overview {

  .org-label {
    position: absolute;
    height: 15px;
    left: 918px;
    right: 559px;
    top: 238px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.03em;

    color: #3A6467;

    /* teal-dark */
    opacity: 0.56;
  }

  h1 {
    position: absolute;
    height: 33px;
    left: 918px;
    right: 95px;
    top: 268px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: normal;
    letter-spacing: -0.05em;

    color: #3A6467;
  }

  .des-label {
    position: absolute;
    height: 15px;
    left: 918px;
    right: 599px;
    top: 341px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.03em;

    color: #3A6467;

    /* teal-dark */
  }

  .description {
    position: absolute;
    height: 76px;
    left: 918px;
    right: 182px;
    top: 371px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.05em;

    color: #3A6467;

  }
}