.hatch-curve-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    h1 {
      position: absolute;
      height: 44px;
      left: 81px;
      right: 632px;
      top: 65px;

      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: normal;
      letter-spacing: -0.05em;

      color: #333333;
    }

    h3 {
      position: absolute;
      height: 47px;
      left: 81px;
      right: 768px;
      top: 129px;

      font-family: Inter UI;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 23px;
      letter-spacing: -0.01em;

      color: #333333;

      /* Gray 1 */
      opacity: 0.78;
    }
  }

  .progress-bar {
    position: absolute;
    width: 1280px;
    height: 54px;
    left: 0px;
    top: 0px;

    .progress-step {

      font-size: 12px;
      .phase-number {
        &:focus {

        }
      }
    }

    background: #F1F8F8;
  }

  .slider-container {
    margin: 20px;
  }


  form {
    position: absolute;
    left: 5%;
    right: 61.09%;
    top: 20.99%;
    bottom: -4%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    background: #F9FAFB;
    box-shadow: 0px 0px 20px rgba(215, 222, 227, 0.39422), 0px 26px 90px rgba(51, 59, 69, 0.1);
    border-radius: 20px;

    .space-holder {
      flex: 1;
    }

    .launch-field {
      label {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: normal;
        letter-spacing: -0.01em;

        color: #3A6467;

        margin-bottom: 30px;

      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: normal;

        color: #3A6467;
      }

      input {

        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;

        color: #B1C2C5;
      }
    }

    button {
      margin: 40px;
      justify-self: flex-end;
      border-radius: 100px;

    }

    .radio-field {
      padding: 10px 40px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      .radio {
        display: inline-block;
        padding: 5px 10%;
      }
    }


  }

}

.launch {
  height: 100px;
  width: 300px;


}