.hatch-curve-vis {
  .initial-capital {
    position: absolute;
    width: 179px;
    height: 104px;
    left: 792px;
    top: 246px;


  }
  .initial-capital, .post-hatch {
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 76px;

      color: #54617A;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;

      color: #54617A;
    }
  }

  .post-hatch {
    position: absolute;
    width: 179px;
    height: 85px;
    left: 1021px;
    top: 246px;

  }

  .curve-vis {
    text-align: center;
    position: absolute;
    width: 905px;
    left: 755px;
    top: 376px;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: 0.2em 1em;
      width: 800px;
      height: 600px;
      place-content: center;
    }

    /* Generic placers */
    .m {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      width: 850px;
      height: 600px;
    }
    .c {
      width: 850px;
      height: 600px;
      display: grid;
      place-content: center;
    }

  }
}