.launch-commons {
  span {
    position: absolute;
    height: 18px;
    left: 116px;
    right: 957px;
    top: 77px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    letter-spacing: -0.02em;

    color: #3A6467;
  }

  .curve-parameters {
    position: absolute;
    height: 87px;
    left: 445px;
    right: 567px;
    top: 77px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: -0.05em;

    color: #3A6467;
  }

  .community-parameters {

    position: absolute;
    height: 115px;
    left: 781px;
    right: 258px;
    top: 77px;

    font-family: Inter UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: -0.05em;

    color: #3A6467;

  }

  .all-set {
    position: absolute;
    width: 648.85px;
    height: 229px;
    left: 698px;
    top: 319px;


  }
}