.units-dropdown {

  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  background: #FAFAFA;
  border: 1px solid #EAE8E8;
  box-sizing: border-box;
  border-radius: 20px;

  img {
    padding-right: 10px;

  }
}